*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  scroll-behavior: smooth;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
::-webkit-scrollbar{
  display: none;
}
body{
  background-color: rgb(46, 44, 44);
  color: white;
}