.your_account{
  padding: 1vw 15vw;
}
.section_Container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 1.5vw;
}
.pri_section{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  gap:1.5vw;
  cursor: pointer;
}
.pri_section:hover{
  background-color: rgb(242, 237, 237);
}
.pri_section_2, .pri_section{
  border: 1px solid gray;
  padding: 1.5vw 0.8vw ;
  border-radius: 1vw;
}
.pri_section_2 p{
  color: rgb(85, 185, 185);
  margin: 0.5vw 0vw;
  cursor: pointer;
  font-size: 0.8vw;
}
.pri_section_2 p:hover{
  cursor: pointer;
  text-decoration: underline;
  color: blueviolet;
}